.ReactModalPortal > div {
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    background: #779cab;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: 1.6rem;
    text-align: center;
  }
  
  .modal__title {
    margin: 0 0 3.2rem 0
  }
  
  .modal__body {
    margin: 0 0 3.2rem 0;
    font-size: 2rem;
    font-weight: 900;
    word-break: break-all;
    color: #fff
  }